# These are intellij project files
*.iml
.idea

# This is a cache for gradle
.gradle

# These are compiled artifacts
/build

# This is where intellij builds the project
/out

geckodriver.log
/CS5356-OCR-2624a60b4746.json
